page, .LoginPage {
  height: 100%;

}
.content {
  height: 100%;
  display: flex;
  padding: 0 64px;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    image {
      border: 10px solid #efefef;
      width: 256px;
      height: 256px;
      border-radius: 50%;
    }

  }
  .text {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
  }
  at-button {
    margin-bottom: 40px !important;
  }
}
