.HomePage {
  height: 100%;
  .body {
    height: 100%;
    padding: 42PX 0 54PX 0;
    position: relative;
  }
}
.searchView {
  position: absolute;
  top: 42PX;
  left: 0;
  width: 100%;
  height: calc(100% - 42PX);
  z-index: 1000;
  background-color: #fff;
}