view {
  box-sizing: border-box;
}
page {
  height: 100%;
}
.Index {
  height: 100%;
}
.at-tabs__header {
  text-align: left !important;
  padding-left: 20px !important;
}
.at-tabs__underline {
  display: none !important;
  background-color: transparent !important;
  z-index: 0 !important;
}
.at-search-bar::after {
  border: none !important;
}

.Profile {
  padding: 32px 56px;
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    at-avatar {
      margin-bottom: 60px;
    }
    .name {
      font-size: 48px;
    }
  }
}
.addIconWrapper {
  position: fixed;
  right: 32px;
  bottom: 128px;
  border-radius: 50%;
  background-color: #6190E8;
  width: 96px;
  height: 96px;
  padding: 0;
  min-width: 0;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.2), 0px 18px 30px 0px rgba(0, 0, 0, 0.14), 0px 3px 50px 0px rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    background-color: #729cea;
  }
}


.at-input__children::after {
  border: none !important;
}
.at-checkbox::after {
  display: none !important;
}
.at-checkbox__option {
  padding-left: 0 !important;
}
.at-checkbox__option_wrap {
  padding: 12px 0 !important;
  background-color: #fff !important;
}
.at-checkbox__title {
  font-size: 24px !important;
}