.FlagItem {

  &:focus {
    background-color: #eee;
  }
  .body {
    display: flex;
    padding: 32px 40px;
    transition: all .3s;
    .left {
      margin-right: 32px;
    }
    .right {
      flex-grow: 1;
      .headline {
        display: flex;
        justify-content: space-between;
        font-size: 32px;
        color: rgb(126, 126, 126);
        .time {
          font-size: 24px;
          align-self: flex-start;
          color: #b9b9b9;
        }
      }
      .content {
        font-size: 28px;
        margin-top: 16px;
        color: #ccc;
      }
    }
  }
  .footer {
    
  }

}