.FlagItem {
  transition: border-width .3s;
  .body {
    display: flex;
    padding: 32px 40px;
    transition: all .3s;
    .left {
      margin-right: 32px;
    }
    .right {
      overflow-x: hidden;
      flex-grow: 1;

      .headline {
        display: flex;
        font-size: 32px;
        color: #333;
        &.inline {
          justify-content: space-between;
          .title {
            margin-right: 12px;
            flex-shrink: 1;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
        .info {
          margin-left: 32px;
          display: flex;
          flex-direction: column;
        }
        .title {
        }
        .time {
          font-size: 24px;
          align-self: flex-start;
          color: #666;
          white-space: nowrap;
        }
      }
      .content {
        font-size: 28px;
        margin-top: 16px;
        color: #666;
      }

      .footer {
        display: flex;
        justify-content: space-between;
        margin-top: 56px;
        .left {
          display: flex;
          align-items: center;
          .iconWrapper {
            margin-right: 32px;
            font-size: 24px;
            color: #d9d9d9;
            display: flex;
            align-items: center;
            at-icon {
              margin-bottom: 4px;
              margin-right: 4px;
            }
          }

        }
        .right {
          display: flex;
          align-items: center;
          padding-top: 4px;
          flex-grow: 0;
          at-button {
            margin-left: 12px;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    
  }

}