page,
.FlagPage {
  height: 100%;
}

.at-tabs__header {
  text-align: left !important;
  padding-left: 20px !important;
}
.Timeline {
  .item {
    margin: 32px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
    .icon {
      width: 48px;
      height: 48px;
      line-height: 48px;
      flex: 0 0 48px;
      font-size: 32px;
      text-align: center;
      border-radius: 50%;
      margin-right: 16px;
      color: #fff;
      at-icon {
        position: relative;
        top: -2px;
      }
    }
    .name {

    }
    .buttonWrapper {
      flex: 0 0;
    }
  }
}
.AvatarGroup {
  .item {
    margin: 32px 48px;
    display: flex;
    align-items: center;
  }
  at-avatar {
    margin-right: 20px;
  }
}
.CommentGroup {
  margin-bottom: 42px;
}
.CommentControl {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  at-search-bar at-icon { display: none; }
}
